@model SweaterPlanning.Models.MonthWiseWorkingDay

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonthWiseWorkingDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Years)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Years.YearId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Months)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Months.MonthId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkableMinutes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkableMinutes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MonthWiseWorkId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
