@model System.Data.DataTable;
@using System.Data;


            <table class="table table-bordered" id="exportStylelList">
                <thead style="background-color:aliceblue">
                    <tr>
                        <th>Po No</th>
                        <th>Style Number</th>
                        <th>Po Qty</th>
                        <th>Fob Amnt</th>
                        <th>Po Entry date</th>
                        <th>Po Entry User</th>
                        <th>Remarks</th>
                        <th>Exfty Date</th>
                        <th>Buyer Name</th>
                        <th>Order Confirm Date</th>
                        <th>Team Head</th>
                        <th>Merchant Name</th>
                        <th>Season Name</th>
                        <th>Gauge</th>
                        <th>Style Status</th>
                        <th>Ship Mode</th>
                        <th>Mcn. Desc</th>
                        <th>Critical Type</th>
                        <th>Gmt. Dept</th>
                        <th>Yrn. In House Date</th>
                        <th>Yrn. Trns. Date</th>
                        <th>Smple Apv. Date</th>
                        <th>Blk.Hng.Apv. Date</th>
                        <th>Test Apv. Date</th>
                        <th>Smv Knt.</th>
                        <th>Initial Plane Date</th>
                        <th>New Plane Date</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.Rows)
                    {

                        <tr>
                            <td>@item.ItemArray[0]</td>
                            <td>@item.ItemArray[1]</td>
                            <td>@item.ItemArray[2]</td>
                            <td>@item.ItemArray[3]</td>
                            <td>@item.ItemArray[4]</td>
                            <td>@item.ItemArray[5]</td>
                            <td>@item.ItemArray[6]</td>
                            <td>@item.ItemArray[7]</td>
                            <td>@item.ItemArray[8]</td>
                            <td>@item.ItemArray[9]</td>
                            <td>@item.ItemArray[10]</td>
                            <td>@item.ItemArray[11]</td>
                            <td>@item.ItemArray[12]</td>
                            <td>@item.ItemArray[13]</td>
                            <td>@item.ItemArray[14]</td>
                            <td>@item.ItemArray[15]</td>
                            <td>@item.ItemArray[16]</td>
                            <td>@item.ItemArray[17]</td>
                            <td>@item.ItemArray[18]</td>
                            <td>@item.ItemArray[19]</td>
                            <td>@item.ItemArray[20]</td>
                            <td>@item.ItemArray[21]</td>
                            <td>@item.ItemArray[22]</td>
                            <td>@item.ItemArray[23]</td>
                            <td>@item.ItemArray[24]</td>
                            <td>@Convert.ToDateTime(item.ItemArray[25]).ToString("dd MMM yyyy")
                            <input type="hidden" class="poConfirmId" value="@Convert.ToInt32(item.ItemArray[26])" />
                            </td>
                            <td><input type="date" class="form-control newPlnMonth" />  </td>
                            <td><button type="button" class="btn btn-info btn-xs float-left" data-toggle="toolTrip" title="Save Po" onclick="SavePoDate(this)" style="border-radius: 50%; background-color: forestgreen; margin-left:10px "><span class="fa fa-save"></span></button></td>
                        </tr>

                    }




                </tbody>
            </table>

