@model SweaterPlanning.Models.StyleMaster
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">

                            <h3 class="card-title">Style Information</h3>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-info btn-sm" onclick="ChangeTA(@Model.StlCode)" style="float:right; border-radius:20%">Change T&A</button>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="card-body row">
                        @*<div class="row">*@
                        <div class="col-md-6">
                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Style No # @Model.StlCode</label>
                                <label class="col-md-6">@Model.StlDesc</label>
                                <input type="hidden" id="styleCode" value="@Model.StlCode" />
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Booking Type</label>
                                <label class="col-md-6">Capacity Booking</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Buyer</label>
                                <label class="col-md-6">@Model.Bur_Name</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Style Des.</label>
                                <label class="col-md-6">@Model.StlDescrptn</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Department:</label>
                                <label class="col-md-6">@Model.GmtDept</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Gauge:</label>
                                <label class="col-md-6">@Model.GaugeDesc</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Season:</label>
                                <label class="col-md-6">@Model.SeasonName</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Garment Type:</label>
                                <label class="col-md-6">@Model.GmtDept</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Style Type:</label>
                                <label class="col-md-6">@Model.StyleType</label>
                            </div>
                            @*<div class="row col-md-12 table-bordered">
            <label style="background-color:lavender" class="col-md-6">Yarn Type:</label>
            <label class="col-md-6"></label>
        </div>*@
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Count:</label>
                                <label class="col-md-6">@Model.YarnCount</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Yarn Des.:</label>
                                <label class="col-md-6">@Model.YarnComp</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Booking Qty.:</label>
                                <label class="col-md-6" style="background-color:skyblue">@Model.pottlqty</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Total Po Qty.:</label>
                                <label class="col-md-6" style="background-color:darksalmon">@Model.pottlqty</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Total Cost Qty.:</label>
                                <label class="col-md-6">@Model.pottlqty</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">FOB:</label>
                                <label class="col-md-6">$ @Model.FobAmnt</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">OC Date:</label>
                                <label class="col-md-6">@Convert.ToDateTime(Model.ConfDt).ToString("dd MMM yyyy")</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Source Type:</label>
                                <label class="col-md-6">@Model.srcType</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Yarn Supplier:</label>
                                <label class="col-md-6">@Model.SupName</label>
                            </div>
                            <div class="row col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Merchandiser:</label>
                                <label class="col-md-5">@Model.Fullname</label>
                            </div>
                            @*<div class="row col-md-12 table-bordered">
            <label style="background-color:lavender" class="col-md-6">Dev Style:</label>
            <label class="col-md-6"></label>
        </div>
        <div class="row col-md-12 table-bordered">
            <label style="background-color:lavender" class="col-md-6">Repeat Style:</label>
            <label class="col-md-6"></label>
        </div>*@

                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Production Lead:</label>
                                <label class="col-md-6">@Model.ProdLead</label>
                            </div>
                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:red" class="col-md-6">Good Name:</label>
                                <label style="background-color:red" class="col-md-6">@Model.GoodsName</label>
                            </div>
                        </div>
                        @*<div class="col-md-7">
                                <div class="row">
                                    <div class="row box-shadow">
                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.StyleSktbyt)" height="100px" width="100px" />
                                    </div>
                                    <div class="row table-bordered">
                                        <label class="col-md-6">Repeat Style:</label>
                                        <label class="col-md-6"></label>
                                    </div>
                                </div>
                            </div>*@
                    <div class="col-md-6">
                        <div class="row  col-md-12 table-bordered" style="float:right">
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.StyleSktbyt)" height="100px" />

                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">File Handover Date:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.filehndovrdt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Delivery Start:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.POfirstdeldt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Delivery End:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.Pomaxdel).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Yarn Order:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.YrnOrddt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Yarn Inhouse:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.YrnInhsDt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Yarn Color Approval:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.YrnColapvdt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Yarn purchase Led:</label>
                            <label class="col-md-6">@Model.Yrnprclead</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Yarn Transit:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.YrnTrnsitdt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Sample Approval:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.Smpapvdt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Bulk Han. Approval:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.BlkHngrapvdt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Test Approval:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.tstApvdt).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Sewing Item I/H:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.SewitmIH).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Packing Item I/H:</label>
                            <label class="col-md-6">@Convert.ToDateTime(Model.PakItmIH).ToString("dd MMM yyyy")</label>
                        </div>
                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">Order Type:</label>
                            <label class="col-md-6">@Model.OrderType</label>
                        </div>

                        <div class="row  col-md-12 table-bordered">
                            <label style="background-color:lavender" class="col-md-6">L/C Company:</label>
                            <label class="col-md-6">@Model.OrderMotherCompany</label>
                        </div>
                        @if (Model.CriticalTyp == "")
                        {
                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Product Type:</label>
                                <label class="col-md-6">Basic</label>
                            </div>
                        }
                        else
                        {
                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:lavender" class="col-md-6">Product Type:</label>
                                <label style="background-color:yellow" class="col-md-6">@Model.CriticalTyp</label>
                            </div>
                        }
                        @if (Model.CriticalTyp != "")
                        {


                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:lavender; color:red" class="col-md-12">Production Lead Time Will be Given 37 Day's as Per Special T&A</label>

                            </div>
                        }
                        else
                        {
                            <div class="row  col-md-12 table-bordered">
                                <label style="background-color:lavender; color:red" class="col-md-12">Production Lead Time Will be Given 30 Day's as Per T&A</label>

                            </div>
                        }
                        <!--<div class="row  col-md-12 table-bordered">
    <label style="background-color:yellow" class="col-md-6">Is Twin Pack:</label>-->
                        @* <label style="background-color:yellow" class="col-md-6">@Model.CriticalTyp</label>*@
                        <!--<input type="checkbox" class="checkBoxCls col-md-6" id="checkboxPrimary3">
    </div>-->
                    </div>


                    </div>
                </form>
                @*<div class="card-footer">
                        <button type="submit" onclick="Add()" id="processButton" class="float-right btn btn-primary">Submit</button>
                    </div>*@
            </div>
        </div>
        <div class="col-md-7">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">IE Part</h3>
                </div>
                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr style="background:antiquewhite">
                                            <th width="200">Machine Type</th>
                                            <td>Knitting</td>
                                            <td>Linking</td>
                                            <td>Sewing</td>
                                            <td>Trimming</td>
                                            <td>Mending</td>
                                            <td>Finishing</td>
                                            <td>Other</td>
                                            <td>Total</td>
                                            <td width="200">Process</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.MachineType</td>
                                            <td>@Model.SmvKn</td>
                                            <td>@Model.SmvLk</td>
                                            <td>@Model.SmvSw</td>
                                            <td>@Model.SmvTr</td>
                                            <td>@Model.SmvMn</td>
                                            <td>@Model.Smvfin</td>
                                            <td></td>
                                            <td>@Model.SmvTtl</td>
                                            <td style="width:200px">@Model.SewProc</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
                @*<div class="card-footer">
                        <button type="submit" onclick="Add()" id="processButton" class="float-right btn btn-primary">Submit</button>
                    </div>*@
            </div>
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">PO Wise Planning</h3>
                </div>
                <form>
                    <div class="card-body table-responsive" style="height: 200px;">
                        <div class="row">
                            <table class="table table-bordered table-striped table-hovertable-head-fixed" id="PoTable">
                                <thead>
                                    <tr style="background-color:antiquewhite">
                                        <th>PO NO#</th>
                                        <th>PO Qty.</th>
                                        <th>S/Mode</th>
                                        <th>T/Capacity(Qty)</th>
                                        <th>T/Booked(Qty)</th>
                                        <th>Remaining(Qty)</th>
                                        @*<th>Conf. Date</th>
                                            <th>FOB Date</th>*@
                                        <th>Ex-Fty Date</th>
                                        <th>Planning Month</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.StylePurchaseOrders)
                                    {
                                        <tr>
                                            <td>@item.PONo <input type="hidden" class="poCode" value="@item.POCod" /> </td>
                                            <td>@item.POQty</td>
                                            <td>@item.ShipMode</td>
                                            <td>@item.TotalProductionCapacity</td>
                                            <td>@item.TotalBookedQty</td>
                                            <td>@(Convert.ToInt32(item.TotalProductionCapacity)- Convert.ToInt32(item.TotalBookedQty)) </td>
                                            <td class="exDate">@Convert.ToDateTime(item.ExftyNew).ToString("dd MMM yyyy")</td>
                                            <td><input type="text" id="taskDate_ @item.POCod" class="form-control datepicker poDate" onchange="FindKntStartDate(); " /></td> @*onclick="FindCalanderDate(this)"*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                @*<div class="card-footer">
                        <button type="submit" onclick="Add()" id="processButton" class="float-right btn btn-primary">Submit</button>
                    </div>*@
            </div>


        </div>

    </div>

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Initial Planning Part</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" id="divdllTaskType">
                            <label for="dllCoordinator">Co-Ordinator<span style="color:red"> *</span></label>

                            <select class="form-control select2" style="width: 100%;" id="dllCoordinator">
                            </select>
                        </div>
                        <div class="form-group" id="divdllTaskType">
                            <label for="dllTaskType">Ratio Type<span style="color:red"> *</span></label>
                            <select class="form-control select2" style="width: 100%;" id="dllReatioType">
                            </select>
                        </div>
                        <div class="form-group" id="divOrderDate">
                            <label for="txtOrderDate">Knitting Start Date<span style="color:red"> *</span></label>
                            <input type="text" id="knittingDate" autocomplete="off" class="form-control datepicker" />
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="form-group" id="divOrderDate">
                            <label for="txtOrderDate">Linking Start Date<span style="color:red"></span></label>
                            <input type="text" id="linkingDate" class="form-control datepicker" />
                        </div>
                        <div class="form-group" id="divOrderDate">
                            <label for="txtOrderDate">Finishing Start Date<span style="color:red"></span></label>
                            <input type="text" id="finishingDate" class="form-control datepicker" />
                        </div>
                        <div class="form-group" id="divOrderDate">
                            <label for="txtOrderDate">Inspection Start Date<span style="color:red"></span></label>
                            <input type="text" id="InspectionDate" class="form-control datepicker" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Remarks</label>
                            <textarea class="form-control" id="remarks" rows="1" placeholder="Enter ..."></textarea>
                        </div>
                        <div class="form-group">
                            <label>Deny Reason</label>
                            <textarea class="form-control" id="denyReason" rows="1" placeholder="Enter ..."></textarea>
                        </div>
                        <div class="form-group" id="divdllTaskType">
                            <label for="dllTaskType">Booking Option <span style="color:red"> *</span></label>
                            <select class="form-control select2" style="width: 100%;" id="dllBooking">
                                <option value="0">--Slect Booking Type--</option>
                                <option value="Capacity Booking">Capacity Booking</option>
                                <option value="Space Booking">Space Booking</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



        </form>
        <div class="card-footer">
            <button type="submit" id="capacityApp" onclick="Save()" class="float-right btn btn-primary">Submit</button>
            <button type="submit" onclick="Deny()" class="float-left btn btn-warning">Deny</button>
            <button type="submit" onclick="Print(@Model.StlCode)" class="float-left btn btn-warning"><span class="fa fa-print"></span></button>

        </div>
    </div>
    <div class="modal fadeInUp" id="PoListModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header card-header">
                    <h4 class="modal-title" id="headderId"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row" style="background-color:lavender">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="yarnOrdDate">Yarn Order Date<span style="color:red"> *</span></label>
                                <input type="text" id="yarnOrdDate" class="form-control datepicker" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Yarn Transit Date<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='yarnTDate' />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Color Approval<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='colorAppDate' />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Test Approval<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='testAppDate' />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="background-color:aliceblue">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Yarn PurchaseLead Time<span style="color:red"> *</span></label>
                                <input type='text' name="leadTime" class="form-control" id='yarnPurLeadTime' oninput="GetSlotDate()" required />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Bulk Hanger Approval<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='bulkHAppDate' />
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <label for="txtOrderDate">Sample Approval Date<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='sampleAppDate' />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Yarn In House Date<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='yarnInHDate' />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="background-color:lavenderblush">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">File Handover date<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='fileHDate' />
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtOrderDate">Production Start Date<span style="color:red"> *</span></label>
                                    <input type='text' class="form-control datepicker" id='proStartDate' />
                                </div>
                            </div>*@
                        <div class="col-md-3">

                            <div class="form-group">
                                <label for="txtOrderDate">Sewing Item I/H Date<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='SiIHDate' />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Packing Item I/H Date<span style="color:red"> *</span></label>
                                <input type='text' class="form-control datepicker" id='packItemIHDate' />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtOrderDate">Production Lead Time<span style="color:red"> *</span></label>
                                <input type='text' name="leadTime" class="form-control" id='proLeadTime' oninput="GetSlotDate()" required />
                                <input type="hidden" id="styleCode" />
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="float-left btn btn-warning" onclick="Close()">Close</button>
                    <button type="button" class="btn btn-success" onclick="SaveBookingTNA()">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


</div>
@section Scripts{
    <script>
        $(function () {

            LoadCoOrdinator('dllCoordinator');
            LoadRatioType('dllReatioType');

            $("#radioPrimary1").click(function () {
                if ($("#radioPrimary1").is(':checked'))
                    $("#radioPrimary1").prop("checked", false);
            });

            //$('#PoTable tr td:last-child').each(function () {
            //    var dateA;
            //    var dateB;
            //    $(this).change(function () {
            //        debugger;
            //        //your code here

            //       // var pDate = $(this).find('.poDate').val();
            //       //var oldDate= $('#knittingDate').val();

            //       // if (oldDate =="") {
            //       //     $('#knittingDate').val(pDate);
            //       // } else if (new Date(oldDate) > new Date( pDate)) {
            //       //     $('#knittingDate').val(pDate);
            //       // }
            //        $('#PoTable tr td:last-child').each(function () {
            //            dateA = $(this).find('.poDate').val();
            //            if (jQuery.type(dateB) === "undefined") {
            //                dateB = dateA;
            //            } else {
            //                if (new Date(dateB) > new Date(dateA)) {
            //                    dateB = dateA;
            //                }
            //            }
            //        });
            //        //alert(pDate);
            //        $('#knittingDate').val(dateB);
            //        dateA = '';
            //        dateB = '';

            //    });
            //});

        });
        function RadioInput() {

        }
        function Print(stlCode) {
            //window.location.href = '@Url.Action("PrintReport", "PartialView")';
            debugger;
            //window.open($(this).attr("http://localhost:14377/", '@Url.Action("CapacityReport", "Report")?stlCode=' + stlCode + ''));
          //  window.open(window.location.href = "http://192.168.10.232:8181/Report/CapacityReport?stlCode=" + stlCode);

            window.open(reportHeader+"Report/CapacityReport?stlCode=" + stlCode, '_blank');
        }
        function LoadCoOrdinator(elementId) {
            $.ajax({
                url: apiHeader + 'api/StyleApproval/GetCoOrdinator',
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Co-Ordinator-</option>");

                    for (var i = 0; i < result.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(result[i].Prd_CoordinatrCod).html(result[i].Prd_CoOrdinatorName));
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function LoadRatioType(elementId) {
            $.ajax({
                url: apiHeader + 'api/StyleApproval/GetRatioType',
                type: "GET",
                dataType: "json",
                success: function (result) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Ratio Type-</option>");

                    for (var i = 0; i < result.length; i++) {

                        $('#' + elementId + '').append($("<option></option>").val(result[i].OrdRatioTypeCod).html(result[i].OrdRatioType));
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        function Validation() {
            var validationKey= true
            if ($('#dllCoordinator').val() == 0 || $('#dllCoordinator').val() == "") {
                toastr.warning('Please give Coordination.');
                validationKey= false;
            }
            if ($('#dllReatioType').val() == 0 || $('#dllReatioType').val() == "") {
                toastr.warning('Please give Ratio Type.');
                validationKey= false;
            }
            if ($('#knittingDate').val() == '' || $('#knittingDate').val() == "") {
                toastr.warning('Please give knitting Date.');
                validationKey= false;
            }
            //if ($('#linkingDate').val() == '' || $('#linkingDate').val() == "") {
            //    toastr.warning('Please give Linking Date.');
            //    return false;
            //}
            //if ($('#finishingDate').val() == '' || $('#finishingDate').val() == "") {
            //    toastr.warning('Please give finishing date.');
            //    return false;
            //}
            //if ($('#InspectionDate').val() == '' || $('#InspectionDate').val() == "") {
            //    toastr.warning('Please give inspection Date.');
            //    return false;
            //}
            if ($('#dllBooking').val() == 0 || $('#dllBooking').val() == "") {
                toastr.warning('Please select booking option.');
                validationKey= false;
            }

            $("#PoTable  tbody tr").each(function (index) {
                debugger;
                var pDate = $(this).find('.poDate').val();
                if (pDate == '' || pDate == "" || pDate == undefined) {
                    $(this).find('.poDate').css("background-color", "#ffb8bf");
                    //ValidationColor('empAutoCom', 'divStockInBy', 'Stock In By Required', true);
                    toastr.warning('Please Select PoDate');
                    validationKey= false;
                }


            });
            return validationKey;
        }

        function DenyValidation() {
            if ($('#denyReason').val() == 0 || $('#denyReason').val() == "") {
                toastr.warning('Please give valid Deny Resaon.');
                return false;
            }
            if ($('#remarks').val() == 0 || $('#remarks').val() == "") {
                toastr.warning('Please give some remarks.');
                return false;
            }
            return true;
        }

        function Save() {
            if (Validation() == true) {
                $("#capacityApp").prop("disabled", true);
                var dataList = [];
                var obj = {
                    StlCod: parseInt($('#styleCode').val()),
                    CoOrdinatior: $('#dllCoordinator').val(),
                    RatioType: $('#dllReatioType').val(),
                    KnStartDate: $('#knittingDate').val(),
                    LnStartDate: $('#linkingDate').val(),
                    FnStartDate: $('#finishingDate').val(),
                    InsStartDate: $('#InspectionDate').val(),
                    Remarks: $('#remarks').val(),
                    DenyReason: $('#denyReason').val(),
                    BooknigOption: $('#dllBooking').val()
                };
                $("#PoTable  tbody tr").each(function (index) {
                    dataList.push({
                        StlCod: parseInt($('#styleCode').val()),
                        PoCod: $(this).find('.poCode').val(),
                        InitialPlaneDate: $(this).find('.poDate').val()
                    });


                });
                obj.PoApprovals = dataList;
                debugger;
                $.ajax({
                    type: "POST",
                    url: apiHeader + 'api/StyleApproval/StyleApporve',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(obj),
                    success: function (result) {

                        if (result == true) {
                            toastr.success(
                                'Save SuccessFull!',
                                'Yes',
                                {
                                    timeOut: 3000,
                                    fadeOut: 3000,
                                    onHidden: function () {
                                       // window.location.reload();
                                         window.location.href = '@Url.Action("StyleApproval", "View")';
                                    }
                                }
                            );
                        } else {
                            toastr.warning('problems finding.');

                            $('#capacityApp').prop("disabled", false);
                        }

                    },

                    complete: function () {
                        // window.location.href = '@Url.Action("Index", "Home")';

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });

            }
        }
        function Deny() {
            if (DenyValidation() == true) {
                var obj = {
                    StlCod: parseInt($('#styleCode').val()),

                    Remarks: $('#remarks').val(),
                    DenyReason: $('#denyReason').val(),
                    BooknigOption: $('#dllBooking').val()
                };


                $.ajax({
                    type: "POST",
                    url: apiHeader + 'api/StyleApproval/StyleDeny',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(obj),
                    success: function (result) {

                        if (result == true) {
                            toastr.warning(
                                'Deny SuccessFull!',
                                'Yes',
                                {
                                    timeOut: 2000,
                                    fadeOut: 2000,
                                    onHidden: function () {
                                        window.location.href = '@Url.Action("StyleApproval", "View")';
                                    }
                                }
                            );
                        } else {
                            toastr.warning('problems finding.');
                        }

                    },

                    complete: function () {
                        // window.location.href = '@Url.Action("CreateSlot", "View")';

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });

            }
        }

    function ChangeTA(data) {

            $('#PoListModal').modal({ backdrop: 'static', keyboard: false });
            $('#yarnOrdDate').val('@Html.Raw(Convert.ToDateTime( Model.YrnOrddt).ToString("dd MMM yyyy"))');
        $('#yarnTDate').val('@Html.Raw(Convert.ToDateTime( Model.YrnTrnsitdt).ToString("dd MMM yyyy"))');
        $('#colorAppDate').val('@Html.Raw(Convert.ToDateTime( Model.YrnColapvdt).ToString("dd MMM yyyy"))');
        $('#testAppDate').val('@Html.Raw(Convert.ToDateTime( Model.tstApvdt).ToString("dd MMM yyyy"))');
        $('#bulkHAppDate').val('@Html.Raw(Convert.ToDateTime( Model.BlkHngrapvdt).ToString("dd MMM yyyy"))');
        $('#sampleAppDate').val('@Html.Raw(Convert.ToDateTime( Model.Smpapvdt).ToString("dd MMM yyyy"))');
        $('#yarnInHDate').val('@Html.Raw(Convert.ToDateTime( Model.YrnInhsDt).ToString("dd MMM yyyy"))');
        $('#fileHDate').val('@Html.Raw(Convert.ToDateTime( Model.filehndovrdt).ToString("dd MMM yyyy"))');

        @*//$('#proStartDate').val('@Html.Raw(Convert.ToDateTime( Model.).ToString("dd MMM yyyy"))');*@

        $('#SiIHDate').val('@Html.Raw(Convert.ToDateTime( Model.SewitmIH).ToString("dd MMM yyyy"))');
        $('#packItemIHDate').val('@Html.Raw(Convert.ToDateTime( Model.PakItmIH).ToString("dd MMM yyyy"))');

        $('#yarnPurLeadTime').val('@Html.Raw(Model.Yrnprclead)');
        $('#proLeadTime').val('@Html.Raw( Model.ProdLead)');
        $('#styleCode').val('@Html.Raw(Model.StlCode)');
    }
        var styleNo = parseInt($('#styleCode').val());
        function SaveBookingTNA() {
             var dataList = [];
                var obj = {
                    StlCod: parseInt($('#styleCode').val()),
                    YarnOrderDate: $('#yarnOrdDate').val(),
                    YarnTranDate: $('#yarnTDate').val(),
                    ColorAppDate: $('#colorAppDate').val(),
                    TestAppDate: $('#testAppDate').val(),
                    BulkHangAppDate: $('#bulkHAppDate').val(),
                    SampleAppDate: $('#sampleAppDate').val(),
                    YarnInHDate: $('#yarnInHDate').val(),
                    FileHDate: $('#fileHDate').val(),
                    SiInHDate: $('#SiIHDate').val(),
                    PackItemInHDate: $('#packItemIHDate').val(),
                    YarnPurLeadTime: $('#yarnPurLeadTime').val(),
                    ProLeadTime: $('#proLeadTime').val()

                };


                $.ajax({
                    type: "POST",
                    url: apiHeader + 'api/StyleApproval/StyleIntialTAndA',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(obj),
                    success: function (result) {
                        debugger;
                        if (result == true) {
                            toastr.success(
                                'Save SuccessFull!',
                                'Yes',
                                {
                                    timeOut: 3000,
                                    fadeOut: 3000,
                                    onHidden: function () {
                                       // window.location.reload();
                                        window.location.href = '@Url.Action("StyleApprovalDetails", "View" )?styleNo=' + styleNo;
                                    }
                                }
                            );
                        } else {
                            toastr.warning('problems finding.');
                            window.location.reload();
                            $('#capacityApp').prop("disabled", false);
                        }

                    },

                    complete: function () {
                        // window.location.href = '@Url.Action("Index", "Home")';

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });

        }
        function FindKntStartDate() {
            var dateA;
            var dateB;
            $('#PoTable tr td:last-child').each(function () {

                    debugger;
                        dateA = $(this).find('.poDate').val();
                        if (jQuery.type(dateB) === "undefined") {
                            dateB = dateA;
                        } else {
                            if (new Date(dateB) > new Date(dateA)) {
                                dateB = dateA;
                            }
                        }
                    //alert(pDate);


            });
            $('#knittingDate').val(dateB);
            dateA = '';
            dateB = '';
        }

        //function FindCalanderDate(aDate) {
        //    debugger;

        //    var dateex = $(aDate).closest("tr").find('.exDate').text();
        //    var date = new Date(dateex.getDate()-30);
        //    $('.poDatepicker').datepicker({
        //        autoclose: true,
        //        format: 'dd M yyyy',
        //        defaultDate: date
        //    });
        //    $('.poDate').addClass('poDatepicker');
        //}


    </script>
}
