@model IEnumerable<SweaterPlanning.Models.MachineQuantity>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Years)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gauge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfMachine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Years.YearId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factory.FactoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineBrand.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gauge.GaugeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfMachine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
